# Python bytecode files
__pycache__/
*.py[cod]

# Environment variables
.env

# Virtual environment directories
venv/
env/
.env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# MacOS files
.DS_Store

# Log files
*.log

# CSV files that might be sensitive or are generated
*.csv
